@model RainMakr.Web.UI.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My devices</h2>

        @Html.ActionLink("Add a device", "Add", "Device")
        @if (Model.Devices.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MAC address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model.Devices)
                    {
                        <tr>
                            <td>@Html.ActionLink(device.Name, "Index", "Device", new { device.Id }, null)</td>
                            <td>@device.MacAddress</td>
                        </tr>
                    }
                </tbody>
            </table>
            
        }
        else
        {
            <p class="text-center">There is no devices.</p>
        }
    </div>
</div>