@{
    ViewBag.Title = "Account Not Confirmed";
}

<hgroup>
    <h1 class="text-danger">Account Not Confirmed.</h1>
    <h2 class="text-danger">You must have a confirmed email to log on. The confirmation link has been resent to your email account.</h2>
</hgroup>

