@model RainMakr.Web.Models.Schedule

@{
    ViewBag.Title = "Add new schedule";
}


<div class="row">
    <div class="col-md-4">
        <h1>Add a schedule</h1>
        @using (Html.BeginForm("AddSchedule", "Schedule", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>