@model RainMakr.Web.Models.Notifications.AccountConfirmationNotification
@{
    Layout = "~/Views/EmailManager/_Layout.cshtml";
    var confirmLink = Url.Action("ConfirmEmail", "Account", new { PersonId = Model.PersonId, Code = Model.Code }, protocol: Request.Url.Scheme);
}

<h2>Account confirmation</h2>

<p style="margin: 0 0 1em 0;">Please confirm your account by clicking this link <a href="@confirmLink">@confirmLink</a> into your browser. If the link doesn't work copy and paste the url into your web browser.
<p/>