@model RainMakr.Web.Models.Notifications.PasswordResetNotification
@{
    Layout = "~/Views/EmailManager/_Layout.cshtml";
    var confirmLink = Url.Action("ResetPassword", "Account", new { PersonId = Model.PersonId, Code = Model.Code }, protocol: Request.Url.Scheme);
}

<p style="margin: 0 0 1em 0;">Hi,</p>
<p style="margin: 0 0 1em 0;">
    An attempt has been made to reset your password for BringDream. If you have not made this request please ignore this email. If you would
    like to reset your password please click this link <a href="@confirmLink">@confirmLink</a>.
    If the link doesn't work copy and paste the url into your web browser.
<p/>